<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>اضافة مهمة جديدة</title>
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <form class="imaged-form">
        <div>
            <label for="task">ادخل المهمة الجددة</label>
            <input type="text" id="task" autofocus required>
        </div>
        <div>
            <button type="button" class="img-upload">
                ارفق االصورة    
            </button>
        </div>
        
        <div class="url-image">
            <label>او اضف رابط الصورة</label>
            <input type="url" class="url-image-input">
        </div>
        
        <button type="submit">
            <i class="fas fa-plus"></i>
            اضافة مهمة
        </button>
    </form>
    <script src="../assets/js/imagedScript.js"></script>
</body>

</html>