<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>اضافة مهمة جديدة</title>
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <form id="form" class="normal-form">
        <div>
            <label for="task">ادخل المهمة جديدة</label>
            <input type="text" id="task" autofocus required>
        </div>
        <button type="submit">
            <i class="fas fa-plus"></i>
            اضافة مهمة
        </button>
    </form>
    <script src="../assets/js/normalScript.js"></script>
</body>

</html>