<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title>add file shortcut</title>
        <link rel="stylesheet" href="../assets/css/fileStyle.css">
    <!-- <link rel="stylesheet" href="index.css"> -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <h1 class="title">add file shortcut</h1>
        <form>
            <span class="shortcutContainer">
                <input class="form-control keyboardInput" required> + <input class="form-control keyboardInput"
                    required>
                </span>
                <button class="btn btn-secondary addKey">+</button>

            <!-- <div class="input-group mb-3"> -->
            <!-- <input type="text" class="form-control"> -->
            <!-- </div> -->

            <div class="buttons-holder">
                <button type="button" class="btn btn-primary programFile">
                    upload file
                </button>

                <button type="submit" class="btn btn-primary add-shortcut">
                    add shortcut
                </button>
            </div>
        </form>
    </div>
    <script src="../assets/js/fileScript.js"></script>
</body>

</html>