@import "./style.css";
.title{
  margin-top: 15px;
  margin-bottom: 12px;
}
.keyboardInput {
  min-width: 12px !important;
  display: inline-block !important;
}
.keyboardInput {
  width: 12px;
  min-width: 12px;
}


.command-holder {
  margin: 10px;
}

.command {
  width: 300px;
  height: 150px;
  resize: none;
  background-color: black;
  color: white;
  font-family: "SourceCodePro Regular", sans-serif;
  padding: 10px 10px 10px 20px;
}

.command-holder::before {
  content: "> ";
  color: white;
  position: absolute;
  padding: 10px 5px;
}

.container {
  display: flex;
  flex-direction: column;
}

.addKey {
  margin-left: 5px;
  border-radius: 100% !important;
  padding: 0px 6px !important;
}