@import "./style.css";
  * {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}


h1 {
  margin: 0;
  font-size: 22px;
}

.subtitle {
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 18px;
}

label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 6px;
}

.keys-wrapper {
  display: flex;
  gap: 10px;
}

.shortcutContainer{
  display: flex;
  gap: 10px;
overflow-wrap: break-word;
}
/* .shortcutContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  flex: 1;
} */

.keyboardInput {
  /* width: 60px; */
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #f9fafb;
  cursor: pointer;
}

.plus {
  font-weight: bold;
  color: #555;
}

.key-actions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.key-actions button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  background: #2563eb;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.key-actions button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.file-row {
  display: flex;
  gap: 8px;
}

.file-path {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #f9fafb;
}

.browseFile {
  padding: 0 14px;
  border-radius: 10px;
  border: none;
  background: #374151;
  color: #fff;
  cursor: pointer;
}

.actions {
  margin-top: 20px;
}

.primary {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #2563eb;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
