@import "./style.css";
/* sim */
.title{
  margin-top: 15px;
  margin-bottom: 12px;
}
/* sim */
.keyboardInput {
  min-width: 12px !important;
  display: inline-block !important;
}

.buttons-holder {
  margin: 10px 0px;
}

.container {
  display: flex;
  flex-direction: column;
}


.shortcutContainer {
  margin: 15px 0px;
  display: inline-block;
}
/* sim */
.addKey {
  margin-left: 5px;
  border-radius: 100% !important;
  padding: 0px 6px !important;
}