@import "./style.css";



body>section {
    height: 400px!important;
    margin: 10px 5px;
    position: relative;
    width: 400px;
}

table {
    width: 100%;
    margin-top: 20px;
}

table.files-shortcut thead tr {
    display: grid;
    font-size:14px;
    grid-template-columns: 110px 1fr 60px;
    gap: 10px;
    margin-bottom: 5px;
    color:#6b7280;
}
table.commandes-shortcut thead tr {
    display: grid;
    font-size:14px;
    grid-template-columns: 110px 1fr 2fr 60px;
    gap: 10px;
    margin-bottom: 5px;
    color:#6b7280;
}
table.files-shortcut tbody tr {
    display: grid;
    grid-template-columns: 110px 1fr  60px;
    gap: 10px;
    /* margin-bottom: 5px; */
}
table.commandes-shortcut tbody tr {
    display: grid;
    grid-template-columns: 110px 1fr 2fr 60px;
    gap: 10px;
    /* margin-bottom: 5px; */
}
table tbody tr {
    border-top: 1px solid #e5e7eb;
    padding-top: 5px;
    padding-bottom: 5px;
}

table tr > td {
    overflow: hidden;
    white-space: nowrap;        
    text-overflow: ellipsis;
}

table tr > .shortcut-cell > span{
  /* background-color: red; */
    background: #eef2ff;
  color: #3730a3;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
    justify-content: center;
}
/* ^^^^^^ */

        table tbody {
            display: block;
            height: 255px;
            overflow-y:auto;
            padding-right: 5px;
        }
        table tbody *{
            font-size: 12px;
        }


.BTNs {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

/* scollbar style*/
table ::-webkit-scrollbar {
    width: 8px;
}

table ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
table ::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 10px;
}
table ::-webkit-scrollbar-thumb:hover {
    background-color: #666666;
}


.card-title{
    text-align: center;
}
