@import "./style.css";



body>section {
    height: 400px!important;
    margin: 10px 5px;
    position: relative;
    width: 400px;
}

table {
    width: 100%;
    margin-top: 10px;
}

table tr {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 10px;
}

table tr>td {
    overflow: hidden;
}

.BTNs {
    position: absolute;
    bottom: 0;
    margin: 12px;
}
.card-title{
    text-align: center;
}
